#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List of popular languages used
- List of common libraries
- Some Data science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. ggplot
3. Numpy

|Data science Tools|
|------------------|
|BigML|
|Apache Spark|
|jupyter notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers.

17

In [14]:
hours = 0
time = 200
hours = time/60
print(str(hours)+ " "+ "hours")
#This will convert 200 minutes to hours by diving by 60.

3.3333333333333335 hours

## AUTHOR
Bimel